<!DOCTYPE html>
<html>
<head>
	<title>Contract Checker</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="form-container">
		<h1>Contract Checker</h1>
		<p><small>Enter an Ethereum contract address to check its verification status and contract type:</small></p>
		<input type="text" id="contract-address-input" name="contract-address-input" placeholder="Enter contract address">
		<br>
		<input type="button" id="contract-type-button" value="Check Contract Type">
		<input type="button" id="verification-status-button" value="Check Verification Status">
		<br><br>
		<div id="contract-type-container" style="display: none">
			<p>Contract type: <span id="contract-type-result"></span></p>
		</div>
		<div id="verification-status-container" style="display: none">
			<p>Verification status: <span id="verification-status-result"></span></p>
		</div>
		<hr>
		<div id="loading-spinner-container" style="display: flex; align-items: center; margin-top: 20px">
			<h1 style="margin: 0">Get Contracts</h1>
			<div id="loading-spinner" style="display: none"></div>
		  </div>
		<p><small>Enter the start and end block numbers to get the details of contracts created between them:</small></p>
		<form id="contracts-form">
			<div style="display: flex">
			  <input type="number" id="start-block-input" name="start-block-input" min="0" placeholder="Enter start block" style="margin-right: 10px">
			  <input type="number" id="end-block-input" name="end-block-input" min="0" placeholder="Enter end block">
			</div>
			<input type="submit" value="Get by block">
		</form>	
				<br>
				<p><small>Or get contracts in a timeframe:</small></p>
				<br>
		<form id="contracts-form2">
			<div style="display: flex">
			  <input type="text" id="start-time-input" name="start-time-input" placeholder="YYYY-MM-DD HH:MM" style="margin-right: 10px">
			  <input type="text" id="end-time-input" name="end-time-input" placeholder="YYYY-MM-DD HH:MM">
			</div>
			<input type="submit" value="Get by timeframe">
		  </form>	
		<br>	  
		<div id="contracts-container" style="display: none">
			<table id="contracts-table">
				<tr>
					<th>Address</th>
					<th>Standard</th>
					<th>Verified</th>
					<th>Transaction</th>
					<th>Block</th>
				</tr>
			</table>
		</div>
		<p>
			<hr>
            <small> Need help using the tool? Check out the <a href="/docs">docs</a> for more information.</small>
        </p>
	</div>	
	<script src="script.js"></script>
</body>
</html>
