<!DOCTYPE html>
<html>
<head>
	<title>Contract Checker</title>
	<style>
		body {
			font-family: sans-serif;
		}

		.form-container {
			width: 500px;
			margin: 0 auto;
			padding: 20px;
			border: 1px solid #ccc;
			border-radius: 5px;
			overflow-x: auto;
		}

		label {
			display: block;
			margin-bottom: 10px;
		}

		input[type="text"] {
			width: 100%;
			padding: 12px;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
		}

		input[type="submit"],
		input[type="button"] {
			width: 100%;
			margin-top: 20px;
			background-color: #4CAF50;
			color: white;
			padding: 14px;
			border: none;
			border-radius: 4px;
			cursor: pointer;
		}

		input[type="submit"]:hover,
		input[type="button"]:hover {
			background-color: #45a049;
		}
		table {
			max-width: 100%;
		}
		th, td {
			text-align: left;
			padding: 8px;
			border: 1px solid #ccc;
		}
		tr:nth-child(even) {
			background-color: #f2f2f2;
		}
		#loading-spinner {
		width: 20px;
		height: 20px;
		border: 8px solid #ccc;
		border-radius: 50%;
		border-top-color: #4CAF50;
		animation: spin 1s infinite linear;
		margin-left: 20px;
		}

		@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
		}
	</style>
</head>
<body>
	<div class="form-container">
		<h1>Contract Checker</h1>
		<p><small>Enter an Ethereum contract address to check its verification status and contract type:</small></p>
		<input type="text" id="contract-address-input" name="contract-address-input" placeholder="Enter contract address">
		<br>
		<input type="button" id="contract-type-button" value="Check Contract Type">
		<input type="button" id="verification-status-button" value="Check Verification Status">
		<br><br>
		<div id="contract-type-container" style="display: none">
			<p>Contract type: <span id="contract-type-result"></span></p>
		</div>
		<div id="verification-status-container" style="display: none">
			<p>Verification status: <span id="verification-status-result"></span></p>
		</div>
		<hr>
		<div id="loading-spinner-container" style="display: flex; align-items: center; margin-top: 20px">
			<h1 style="margin: 0">Get Contracts</h1>
			<div id="loading-spinner" style="display: none"></div>
		  </div>
		<p><small>Enter the start and end block numbers to get the details of contracts created between them:</small></p>
		<form id="contracts-form">
			<div style="display: flex">
			  <input type="number" id="start-block-input" name="start-block-input" min="0" placeholder="Enter start block" style="margin-right: 10px">
			  <input type="number" id="end-block-input" name="end-block-input" min="0" placeholder="Enter end block">
			</div>
			<input type="submit" value="Get by block">
		</form>	
				<br>
				<p><small>Or get contracts in a timeframe:</small></p>
				<br>
		<form id="contracts-form2">
			<div style="display: flex">
			  <input type="text" id="start-time-input" name="start-time-input" placeholder="YYYY-MM-DD HH:MM" style="margin-right: 10px">
			  <input type="text" id="end-time-input" name="end-time-input" placeholder="YYYY-MM-DD HH:MM">
			</div>
			<input type="submit" value="Get by timeframe">
		  </form>	
		<br>	  
		<div id="contracts-container" style="display: none">
			<table id="contracts-table">
				<tr>
					<th>Address</th>
					<th>Standard</th>
					<th>Verified</th>
					<th>Transaction</th>
					<th>Block</th>
				</tr>
			</table>
		</div>
		<p>
			<hr>
            <small> Need help using the tool? Check out the <a href="/docs">docs</a> for more information.</small>
        </p>
	</div>	
	<script>
		const form = document.getElementById("contracts-form");
		const spinner = document.getElementById("loading-spinner");
		document.getElementById("contract-type-button").addEventListener("click", function() {
			const address = document.getElementById("contract-address-input").value;
			fetch(`/checkContractStandard/${address}`)
				.then(response => response.json())
				.then(data => {
					document.getElementById("contract-type-result").innerText = data.standard;
					if (data.standard === "UNDEFINED") {
						document.getElementById("contract-type-result").style.color = "red";
					} else {
						document.getElementById("contract-type-result").style.color = "green";
					}
					document.getElementById("contract-type-container").style.display = "block";
				});
		});
		document.getElementById("verification-status-button").addEventListener("click", function() {
			const address = document.getElementById("contract-address-input").value;
			fetch(`/checkVerificationStatus/${address}`)
				.then(response => response.json())
				.then(data => {
					document.getElementById("verification-status-result").innerText = data.verified ? "Verified" : "Not verified";
					if (data.verified) {
					document.getElementById("verification-status-result").style.color = "green";
					} else {
					document.getElementById("verification-status-result").style.color = "red";
					}
					document.getElementById("verification-status-container").style.display = "block";
				});
		});
		document.getElementById("contracts-form").addEventListener("submit", function(event) {
		event.preventDefault();
		spinner.style.display = "block";

		const startBlock = document.getElementById("start-block-input").value;
		const endBlock = document.getElementById("end-block-input").value;
		fetch(`/getContracts/${startBlock}/${endBlock}`)
			.then(response => response.json())
			.then(data => {
				// Get the list of contracts
				const contractTable = document.getElementById("contracts-table");

				// Clear the list of contracts
				contractTable.innerHTML = "";
				// Add the table header row
				contractTable.innerHTML = `
					<tr>
						<th>Address</th>
						<th>Standard</th>
						<th>Verified</th>
						<th>Transaction</th>
						<th>Block</th>
					</tr>
				`;
				// Iterate through the contracts
				// Add a row for each new contract
				data.forEach(contract => {
					const rowHTML = `
						<tr>
							<td>${contract.address}</td>
							<td>${contract.standard}</td>
							<td>${contract.verified ? "Verified" : "Not verified"}</td>
							<td>${contract.transaction}</td>
							<td>${contract.block}</td>
						</tr>
					`;
					document.getElementById("contracts-table").insertAdjacentHTML("beforeend", rowHTML);
				});
				
				// Show the list of contracts
				document.getElementById("contracts-container").style.display = "block";
				spinner.style.display = "none";

			});
		});
		document.getElementById("contracts-form2").addEventListener("submit", function(event) {
		event.preventDefault();
		spinner.style.display = "block";
		// Get the start and end times from the form inputs
		const startTime = document.getElementById("start-time-input").value;
		const endTime = document.getElementById("end-time-input").value;
		// Send a request to the getContractsByTime endpoint with the start and end times as parameters
		fetch(`/getContractsByTime/${startTime}/${endTime}`)
			.then(response => response.json())
			.then(data => {
			// Get the list of contracts
			const contractTable = document.getElementById("contracts-table");

			// Clear the list of contracts
			contractTable.innerHTML = "";		
				// Add the table header row
		contractTable.innerHTML = `
			<tr>
			<th>Address</th>
			<th>Standard</th>
			<th>Verified</th>
			<th>Transaction</th>
			<th>Block</th>
			</tr>
		`;
		// Iterate through the contracts
		// Add a row for each new contract
		data.forEach(contract => {
			const rowHTML = `
			<tr>
				<td>${contract.address}</td>
				<td>${contract.standard}</td>
				<td>${contract.verified ? "Verified" : "Not verified"}</td>
				<td>${contract.transaction}</td>
				<td>${contract.block}</td>
			</tr>
			`;
			document.getElementById("contracts-table").insertAdjacentHTML("beforeend", rowHTML);
		});
		// Hide the loading spinner
		spinner.style.display = "none";
		// Show the contract table
		document.getElementById("contracts-container").style.display = "block";
		});
		});

	</script>
</body>
</html>
